.checkoutStructure {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 20px;
  margin-bottom: 80px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 560px;
  
  }

  .summarySection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 370px;

    .payButton {
      padding: 15px;
      background-color: #0070f3;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
    }
  }
}



