.card {
  height: 522.1px;
  width: 327.06px;
  // border: 1px solid grey;
  border-radius: 4px;
  background-color: #F3F3F3;
  padding: 10px 0;

  img {
    border-radius: 4px;
  }

  p {
    padding: 0px;
  }

  // a {
  //   img {
  //     height: 322px;
  //   }
  // }
}