// Define common variables and mixins
$primary-color: #025198;
$secondary-color: #025198;
$font-family: 'Arial', sans-serif;

@mixin transition-effect($property, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}

.faqContainer {
  max-width: 1069px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;

  h2 {
    text-align: center;
  }

  .faqItems {
    margin-top: 20px;

    .faqItem {
      margin-bottom: 15px;
      border-bottom: 1px solid $secondary-color;
      padding: 10px;
      
      // Expanded state for the FAQ item
      &.expanded {
        background: lighten($secondary-color, 45%);
        // border-left: 4px solid $primary-color;
      }
      .faqQuestion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-family: $font-family;
        padding: 10px;
        background: $primary-color;
        color: #fff;
        border-radius: 4px;
      
        @include transition-effect(all);
        
        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
  }
}

.faqAnswer {
  padding: 10px 20px;
  background: #fafafa;
  font-family: $font-family;
  line-height: 1.5;
  color: #333;

  @include transition-effect(opacity, 0.2s);
  opacity: 0;

  // Show answer when expanded
  .expanded & {
    opacity: 1;
  }
}
