.footer {
  width: 100%;
  // height: 746px;
  height: 446px;
  background-image: url("/images/Rectangle 27 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headerDivison {
    display: flex;
    gap: 10px;
    // margin-bottom: 10px;

    @media (max-width: 690px) {
      gap: 0;
      flex-direction: column;
    }

    h1 {
      color: white;
      font-size: 46px;
      font-weight: 400;

      @media (max-width: 690px) {
        font-size: 36px;
        margin: 0;
      }
    }

    .titleTwo {
      font-weight: 500;
    }
  }

  p {
    color: white;
    font-weight: 500;
  }

  button {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: orange;
    border: none;
  }

  .copyright {
    margin-top: 130px;
  }
}
