.foundersImagesAndData {
  display: flex;
  // box-sizing: border-box;
  width: 488px;
  height: 472px;

  @media (max-width: 1100px) {
    width: 378px;
    height: 207px;
    gap: 10px;
  }

  .founderLeft {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    // border: 1px solid red;

    .image {
      background-image: url("/images/lisa-green.png");
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      width: 244px;
      height: 236px;

      @media (max-width: 1100px) {
        width: 183px;
        height: 167px;
      }

      // border: 1px solid blue;
    }

    .data {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: left;

      padding: 10px;
      // justify-content: flex-end;
      // padding-bottom: 10px;
      
      @media (max-width: 1100px) {
        height: 32px;
        text-align: left;
      }

      // border: 1px solid green;

      h4 {
        color: black;
        font-size: 14px;
        font-weight: 800;
        margin: 0;
      }

      h5 {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  .founderRight {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    
    @media (max-width: 1100px) {
      flex-direction: column;
    }

    // border: 1px solid yellow;

    .image {
      box-sizing: border-box;
      background-image: url("/images/dr-john-smith.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 244px;
      height: 236px;
      
      @media (max-width: 1100px) {
        width: 183px;
        height: 167px;
      }

      // border: 1px solid darkgreen;
    }

    .data {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      flex-direction: column;
      text-align: right;
      padding: 10px;
      
      @media (max-width: 1100px) {
        height: 32px;
        text-align: left;
      }

      // border: 1px solid black;

      h4 {
        color: black;
        font-size: 14px;
        font-weight: 800;
        margin: 0;
      }

      h5 {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
      }
    }
  }
}
