.foundersImagesAndData {
  display: flex;
  max-width: 488px;
  height: 472px;

  @media (max-width: 1100px) {
    max-width: 463px;
    max-height: 292px;
    gap: 10px;
  }

  @media (max-width: 580px) {
    max-width: 378px;
    max-height: 207px;
    gap: 10px;
  }

  .founderLeft,
  .founderRight {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .image {
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      width: 244px;
      height: 236px;

      
      @media (max-width: 1100px) {
        width: 226.5px;
        height: 210.5px;
      }

      @media (max-width: 580px) {
        width: 183px;
        height: 167px;
      }
    }

    .data {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;

      h4 {
        color: black;
        font-size: 14px;
        font-weight: 800;
        margin: 0;
      }

      h5 {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
      }

      @media (max-width: 1100px) {
        height: 32px;
        text-align: left;
      }

      @media (max-width: 580px) {
        height: 32px;
        text-align: left;
      }
    }
  }

  .founderRight {
    flex-direction: column-reverse;

    @media (max-width: 1100px) {
      flex-direction: column;
    }

    @media (max-width: 580px) {
      flex-direction: column;
    }

    .data {
      text-align: right;

      @media (max-width: 1100px) {
        text-align: left;
      }

      @media (max-width: 580px) {
        text-align: left;
      }
    }
  }

  .founderLeft .image {
    background-image: url("/images/lisa-green.png");
  }

  .founderRight .image {
    background-image: url("/images/dr-john-smith.png");
  }
}
