.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 2px solid grey;
  color: black;

  .navList {
    display: flex;
    align-items: center;

    @media (max-width: 1380px) {
      display: none;
      position: absolute;
      z-index: 10;
      top: 70px;
      right: 0;
      background-color: white;
      text-align: center;
      padding: 20px 20px 40px 20px;
      border-radius: 0 0 60px 4px;
      border: 2px solid grey; /* Apply border to all sides */
      border-top: none;
      border-right: none;

      &.open {
        display: flex;
      }
    }
  }

  .hamburgerIcon {
    display: none;
    cursor: pointer;

    @media (max-width: 1380px) {
      display: block; /* Show hamburger icon on smaller screens */
    }
  }
}
