
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 415px;
  text-align: center;
  margin-top: 50px;

  .intro {
    width: 456px;
    margin-bottom: 20px;
  }
}
