
.card {
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // // width: 415px;
  // text-align: center;
  // margin-top: 50px;
  // // box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // align-items: center;
  padding-top: 50px;
  padding-bottom: 150px;
  box-sizing: border-box;

  .intro {
    margin-bottom: 20px;
    text-align: center;
    // width: 456px;
  }
}
