.mainCourseContainer {
  height: 396px;
  width: 891px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  border-radius: 4px;

  .mainCourseImage {
    padding: 10px;

    img {
      border-radius: 4px;
    }
  }

  .mainCourseDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .headerAndParagraph {
      padding-top: 10px;

      h2 {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }
  
      p {
        width: 380px;
        text-align: left;
        font-size: 14px;
      }
    }


    .priceAndButton {
      padding-bottom: 15px;

      .priceOldAndNew {

        .priceOld {}

        .priceNew {}
      }
    }


  }
}