.formSection {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 0;
    margin-bottom: 35px;
  }

  .paymentOptions {
    display: flex;
    flex-direction: column;

    .paymentOption {
      margin-bottom: 15px;

      input {
        margin-right: 10px;
      }

      .creditCardForm {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
