.formSection {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  margin-bottom: 20px;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
}

.paymentOption {
  margin-bottom: 15px;
}

.creditCardForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}