/* ToggleSwitch.module.scss */
.container {
  // text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;


  .toggle_switch {
    position: relative;
    width: 40px; /* Set toggle switch width */
    height: 20px; /* Set toggle switch height */
    display: inline-block;
    text-align: left;

    .checkbox {
      display: none;
    }

    .label {
      display: block;
      width: 100%; /* Match width of the toggle switch */
      height: 100%; /* Match height of the toggle switch */
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px; /* Make the border rounded */
      background-color: #bbb; /* Default background color */
      position: relative;
      transition: background-color 0.3s ease-in-out;

      .inner {
        display: block;
        width: 200%; /* Full width of both ON and OFF states */
        margin-left: -100%; /* Start with the OFF state hidden */
        height: 100%; /* Match height of the label */
        transition: margin 0.3s ease-in-out;
      }

      .switch {
        display: block;
        width: 15px; /* Smaller switch knob size */
        height: 15px; /* Smaller switch knob size */
        margin: 0.5px; /* Space between knob and container edges */
        background: #fff;
        position: absolute;
        top: 2px; /* Vertical center */
        bottom: 2px; /* Vertical center */
        right: 21px; /* Start position of the knob */
        border-radius: 50%; /* Make the knob circular */
        transition: all 0.3s ease-in-out;
      }
    }

    .checkbox:checked + .label {
      background-color: lightblue; /* Background color when checked */

      .inner {
        margin-left: 0; /* Show the ON state */
      }

      .switch {
        right: 2px; /* Position the switch knob to the left */
      }
    }
  }
}
