.aboutContainer {
  .storyContainer {
    .storyAndImageContainer {
      height: 513px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px 0;
      gap: 80px;

      .story {
        width: 463px;
        height: 478px;

        h2 {
          margin-top: 0;
        }
      }

      .images {
        width: 463px;
        height: 478px;

        .imageTop {
          height: 50%;
          display: flex;

          .imageTopLeft {
            background-image: url("/images/lisa-green.png");
            width: 50%;
          }

          .imageTopRight {
            width: 50%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 10px;

            h4 {
              color: black;
              font-size: 14px;
              font-weight: 800;
            }

            h5 {
              font-size: 12px;
              font-weight: 400;
              margin: 0;
            }
          }
        }

        .imageBottom {
          height: 50%;
          display: flex;

          .imageBottomLeft {
            width: 50%;

            h4 {
              color: black;
              font-size: 14px;
              font-weight: 800;
            }

            h5 {
              font-size: 12px;
              font-weight: 400;
              margin: 0;
            }
          }

          .imageBottomRight {
            background-image: url("/images/dr-john-smith.png");
            width: 50%;
          }
        }
      }
    }
  }
}
