@import '../styles/variables';
@import '../styles/mixins';
@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 22.77;
  margin: 0;
  margin-top: 20px;
}

h4 {
  font-weight: 600;
  font-size: 17.3;
  color: #9E9E9E;
  margin: 0;
  margin-top: 10px;
}

p {
  margin: 0;
}

.swiper {
  // overflow: unset !important; /* Apply unset and use !important to override */
  // margin: 50px !important;
  padding: 70px !important; 

  @media (max-width: 515px) {
    padding: 0 !important;
  }
}

// .swiper-slide {
//   display: flex !important;
//   justify-content: center !important;
// }

/* For regular carousel */
.regular-carousel .swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

// .coverflow-carousel .swiper-slide {
//   /* You can define specific styles here if needed for the coverflow */
// }