$text-color: #333;

.main {

  .hero {
    padding: 2rem;
    height: 746px;
    width: auto;
    background-image: url('/images/Rectangle 10 (7).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
  
    .titleContainer {
      height: 400px;
      width: 370px;
      margin-left: 60px;
    }
  
    .title {
      font-size: 65px;
      font-weight: 400;
      color: white;
      margin: 0;
    }
  
    .title2 {
      font-size: 65px;
      font-weight: 700;
      color: #A1CDBB;
      margin: 0;
    }
  
    .titleDescription {
      color: white;
      text-align: justify;
    }
  
    .titleButton {
      border-radius: 20px;
      font-size: 20px;
      font-weight: 600;
      background-color: rgb(255, 255, 255, 0.2); // Set the background color with 70% opacity
      border: 2px solid white;
      color: white; // Text color remains fully opaque
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
  
  .contentGrid {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 415px;
      text-align: center;
      margin-top: 50px;

      .cardMainCourse {
        width: 695.56px;
      }
    }
  
    .trio {
      width: 100vw;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 50px;
    }
  }
}