/* src/app/page.module.scss */
$text-color: #333;

// .container {
//   padding: 20px;
//   background-color: #f4f4f4;
// }

// .title {
//   color: $text-color;
//   font-size: 2rem;
// }

// .hero {
//   background-color: red;
// }

.hero {
  padding: 2rem;
  height: 746px;
  width: auto;
  // min-height: 100vh; // Ensures the background covers the entire viewport height
  background-image: url('/images/Rectangle 10 (7).png'); // Path to the background image in public folder
  background-repeat: no-repeat;
  background-size: cover; // Ensures the image covers the entire container
  background-position: center center;
}