/* src/app/page.module.scss */
$text-color: #333;

// .container {
//   padding: 20px;
//   background-color: #f4f4f4;
// }

// .title {
//   color: $text-color;
//   font-size: 2rem;
// }

// .hero {
//   background-color: red;
// }

.hero {
  padding: 2rem;
  height: 746px;
  width: auto;
  // min-height: 100vh; // Ensures the background covers the entire viewport height
  background-image: url('/images/Rectangle 10 (7).png'); // Path to the background image in public folder
  background-repeat: no-repeat;
  background-size: cover; // Ensures the image covers the entire container
  background-position: center center;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.titleContainer {
  height: 400px;
  width: 370px;
  margin-left: 60px;
}

.title {
  font-size: 65px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.title2 {
  font-size: 65px;
  font-weight: 700;
  color: #A1CDBB;
  margin: 0;
}

.titleDescription {
  color: white;
  // font-size: 16px;
  text-align: justify;
}

.titleButton {
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255, 0.2); // Set the background color with 70% opacity
  border: 2px solid white;
  color: white; // Text color remains fully opaque
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}