.loginPage {
  display: flex;

  .leftHero {
    background-image: url("/images/LoginHero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 883px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .topHeader {
      margin: 0;
      font-size: 38.37px;
      font-weight: 400;
      color: white;
      margin-left: 40px;
    }

    .bottomHeader {
      margin: 0;
      font-size: 38.37px;
      font-weight: 700;
      color: #a1cdbb;
      margin-left: 40px;
      margin-bottom: 40px;
    }
  }

  .loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;

    .loginForm {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;

        .formGroup {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          label {
            font-size: 11px;
            font-weight: 400;
            margin-left: 20px;
          }

          input {
            width: 360px;
            height: 48px;
          }
        }

        .rememberForgotContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .forgot {
            a {
              text-decoration: none;
              font-size: 12px;
              color: #007aff;
            }
          }
        }

        button {
          width: 366px;
          height: 40px;
          background-color: orange;
          border-radius: 6px;
          border: none;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .register {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 35px;

        p {
          font-size: 12px;
        }

        a {
          color: #007aff;
          font-size: 12px;
          text-decoration: none;
          // &:hover {
          //   color: #0070f3;
          // }
        }
      }

      .home {
        display: flex;
        justify-content: center;
        font-size: 12px;

        a {
          text-decoration: none;
          color: black;
        }
      }

      .copyright {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        font-size: 12px;

        span {
          font-size: 16px;
          padding: 0 5px;
        }
      }
    }
  }
}
