.contactPage {
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      margin-top: 80px;
    }
    
    // p {
      
    // }
    
    form {
      width: 1022.5px;

      .formGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {

        }

        input {

        }

        textarea {

        }
      }

      button {

      }
    }
  }

  // .socialMedia {

  //   h2 {

  //   }

  //   .socialIcons {

  //     a {

  //       .facebook {
  //         font-size: 20px;
  //         color: #3B5998;
  //       }
    
  //       .xtwitter {
  //         font-size: 20px;
  //       }
    
  //       .linkedin {
  //         font-size: 20px;
  //         color: #0077B5;
  //       }

  //       .instagram {
  //         font-size: 20px;
  //         color: #E1306C;
  //         // background: linear-gradient(45deg, #833ab4, #fd1d1d, #f77737);
  //       }
  //     }
  //   }
  // }
}