.contactPage {
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      margin-top: 80px;
    }
    
    // p {
      
    // }
    
    form {
      width: 1022.5px;

      .formGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          font-size: 14px;
          font-weight: 500;
          padding-bottom: 5px;
        }

        input {
          border: 1px solid #E3E3E3;
          height: 40px;
        }

        textarea {
          border: 1px solid #E3E3E3;
          height: 98px;
        }
      }

      button {
        color: white;
        background-color: black;
        border-radius: 4px;
        padding: 10px 20px;
        margin-top: 20px;
      }
    }
  }

  // .socialMedia {

  //   h2 {

  //   }

  //   .socialIcons {

  //     a {

  //       .facebook {
  //         font-size: 20px;
  //         color: #3B5998;
  //       }
    
  //       .xtwitter {
  //         font-size: 20px;
  //       }
    
  //       .linkedin {
  //         font-size: 20px;
  //         color: #0077B5;
  //       }

  //       .instagram {
  //         font-size: 20px;
  //         color: #E1306C;
  //         // background: linear-gradient(45deg, #833ab4, #fd1d1d, #f77737);
  //       }
  //     }
  //   }
  // }
}